body {
  background-color: #ccebf0;
}
h1 {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    
}
.teni h1{
    text-shadow: 1px 1px 1px #000;
    font-style: italic
    }
h2{
    color: #000000;
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
.warpper {
    background-color: #ccebf0;
    display: flex;
    height: 100px;
    flex-direction: column;
    align-items: center;
  }
  
  .tab {
    width: 100px;
    cursor: pointer;
    padding: 14px 60px;
    margin: 25px 4px;
    background: #3ba2cb;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    
    position: relative;
    z-index: 2; /* Меню выше иконки */
    margin-left: 50px
  }
  .tabs{
    font-size: 20px;
  }
  .logo{
    position: absolute; /* Фиксируем иконку */
    top: 20px;
    left: 20px;
    max-width: 100px; /* Начальный размер */
    transition: transform 0.3s ease; /* Плавное увеличение */
    z-index: 1;
   
  }
  .logo2{
    position:absolute;
    position: absolute; /* Фиксируем иконку */
    top: 70px;
    left: 20px;
    max-width: 100px; /* Начальный размер */
    transition: transform 0.3s ease; /* Плавное увеличение */
    z-index: 1;
  }
  .header{
    background-image: url(../img/Z8Onbfirk24.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-align-items: center;
  }
  .header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.6);
  }
  .h1 {
    font-size: 5rem;
    letter-spacing: 1px;
  } 
  .pngfoto{
    width: 750px;
    padding-top: 30px;
    display: block;
    margin: 0 auto;
  }
  
  .header > .box {
    z-index: 10;
    text-align: center;
  }
  .subtitle {
    font-size: 1.6rem;
    letter-spacing: 0.3px;
    color: #fff;
    text-align: center;
    font-style: italic; 
    letter-spacing: 5px;
  }
 
  .slider {
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    display: flex;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: space-around;
    
  }
  .slide{
    width: 400px;
    height: 300px;
  }
  .slider img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    
  }
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: rgb(16, 7, 7);
  }
    .prev-button {
    left: 490px;
  }
  
  .next-button {
    right: 10px;
  }
  
   .page{
    float: left; 
    margin-right: 2em; 
    margin-left: 3em;
    max-width: 330px; 
    max-height: 375px;
    margin-bottom: 20px;
    border: solid #000;
    border-radius: 80px;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
  .text{
    color: rgb(58, 158, 158);
    padding-right: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 25px;
    padding-left: 40px;
    width: 700px;
  }
  .testglav{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
  }
  h3{
    color: #4ea1ac;
    text-shadow: 1px 1px 1px #0d0a24;
    font-size: 2em;
    margin: 20px 300px;
    
  }
 
  .slider-container{
    border: 3px outset #09afc9;
    border-left: outset #0d24b8;
    margin-right: 150px;
    margin-left: 130px;
    background-color: #fff0fe;
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  .clm{

    border: 3px outset #0916c9;
    background-color: #86bbd0;
    text-align: center;
    color: #000;
    text-shadow: none;
    font-size: 2em;
    
  }
  h4{
    font-size: 30px;
    color: #4ea1ac;
    text-align: center;

  }
  .link{
    text-decoration: none;
  }
  .first-box {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
  }
  .first-item {
    width: 30%;
  }
  .icon {
    display: block;
    margin: auto;
    width: 80px; 
    padding-right: 40px;
  }
  
  .h5{
    font-weight: 400px;
    font-size: 20px;
    margin: 2.5rem; 
    padding-right: 1rem;
  }
  .testglav{
    color: #000;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  @media (max-width: 640px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
    .tab {
    
      flex-wrap: wrap;
      justify-content: center;
      
      padding: 1px 6px;
    margin: 5px 4px;
    margin-left: 220px;
    }
    .tab a {
      font-size: 12px;
      padding: 5px 10px;
  }
  .box {
    height: 150px;
}

.box h1 {
    font-size: 20px;
}

.box p {
    font-size: 12px;
}
.pngfoto{
  max-width: 340px;
}
.box2 h2, .box2 h2, .box2 h2 {
  font-size: 16px;
}

.box2 p {
  font-size: 10px;
}
.clm {
  font-size: 12px;
  padding: 3px;
  margin-left: 40px;
  background-color: #86bbd0;
  border:  #86bbd0;
}
.icon{
  max-width: 50px;
}

.first-box{
  flex-direction: column; /* Иконки и текст в столбик на мобильных */
        text-align: center;
 
}
.h5 {
  display: flex;
  justify-content: flex-start;
  text-align: center; /* Центрируем текст на мобильных */
  font-size: 15px;
  white-space: nowrap;
 
}

  }